# ================================
# Database
# ================================
DB_PASSWORD=
DB_NAME=NexusERP
DB_PORT=1433

# ================================
# Redis
# ================================
REDIS_PORT=6379
REDIS_CONNECTION=

# ================================
# Application
# ================================
APP_PORT=8080
APP_ENV=Development

# ================================
# Connection Strings
# ================================
CONNECTION_STRING=